@font-face {
    font-family: 'Montreal';
    src: url('/fonts/montreal/montreal-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montreal';
    src: url('/fonts/montreal/montreal-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montreal';
    src: url('/fonts/montreal/montreal-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }